h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
body {
    margin: 0;
    padding: 0;
    
}
@font-face {
    font-family: 'running_hand';
    src: url('./云峰静龙行书.ttf');
}
*{
    font-family: running_hand;
}
body{
    overflow: hidden;
    user-select: none;
}


ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.resume {
    display: flex;
    width: 100%;
    height: 100vh;

    .resume_left {
        width: 50%;
        height: 100%;
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;

        transition: all 0.6s;
        user-select: none;

        overflow: hidden;
        video{
            position: absolute;
            // z-index: -1;
            width: 200%;
            // height: 100vh;
        }
        .resume_left_info {
            width: 300px;
            margin: auto;
            position: relative;

            .resume_left_I {
                // width: 100%;
                text-align: left;
                margin-left: 20px;

                z-index: 2;
                font-size: 45px;
                color: white;

                // margin: auto;
                margin-bottom: 40px;

                span {
                    color: #e8d2b8;
                }

                &::after {
                    content: ' |';
                    font-weight: 100;

                    @keyframes blink {
                        from {
                            // opacity: 1;
                            content: ' |';
                        }

                        to {
                            // opacity: 0;
                            content: ' ';
                        }
                    }

                    animation: blink 1s linear infinite;
                }
            }

            .resume_left_item {
                text-align: left;
                margin-left: 20px;

                span.item_title {
                    display: inline-block;
                    // font-weight: bold;
                    font-size: 30px;
                    margin-bottom: 10px;
                    margin-right: 5px;
                    color: white;
                    line-height: 2;
                }

                span.item_info {
                    color: #e8d2b8;
                    line-height: 2;
                    font-size: 30px;
                }
            }
        }
    }

    .resume_right {
        display: flex;
        width: 50%;
        height: 100%;
        text-align: center;

        transition: all 0.6s;
        // box-sizing: border-box;
        // border: 20px solid #e8d2b8;
        .resume_right_info {
            margin: auto;
            user-select: none;
            img.myhead {
                width: 140px;
                height: 140px;
                border-radius: 50%;
                border: 15px solid #e8d2b8;
                outline: 7.5px solid #393b3a;;
            }

            h1.myname {
                font-size: 45px;
                margin-top: 30px;
                margin-bottom: 25px;
                // font-weight: bold;
                color: #e8d2b8;
                font-weight: 500;
            }

            .connect_icon {
                font-size: 20px;
                margin-bottom: 30px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                i.fa {
                    // font-size: 20px;
                    // margin-left: 15px;
                }
            }

            ul.nav {
                margin-bottom: 10px;

                li {

                    // color: black;
                    // font-weight: bold;
                    // text-decoration: none;
                    padding: 20px 0;
                    line-height: 32px;
                    font-size: 30px;
                    transition: all 0.3s;
                    user-select: none;
                    &:hover {
                        color: #e8d2b8;
                        background-color: #393b3a;
                    }


                }

                li.active {
                    color: #e8d2b8;
                    background-color: #393b3a;
                }
            }
        }
    }
    .demo{
        width: 0%;
        height: 100%;
        background-color: #393b3a;
        opacity: 0;
        transition: all 0.6s;
        // display: none;
        .demo_nav{
            display: flex;
            width: 100%;
            height: 30%;
            justify-content: space-evenly;
            align-items: center;
            span{
                text-align: center;
                display: block;
                width: 100px;
                line-height: 20px;
                border-radius: 25px;
                padding: 15px 20px;
                border: 2px solid #e8d2b8;
                color: #e8d2b8;
                background: transparent;
                transition: all 0.3s;
                // font-weight: bold;
                font-size: 30px;
                &:hover{
                    background-color: #e8d2b8;
                    color: #393b3a;
                }
            }
            .active{
                background-color: #e8d2b8;
                color: #393b3a;
            }
        }
        .demo_content{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .item{
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                margin: 5px 0;
                // flex-wrap: wrap;
            }
            a.demo_item{
                // margin:15px 30px ;
                width: 300px;
                height: 150px;
                position: relative;
                transition: all 0.6s;
                display: none;
                border: 1px solid #e8d2b8;
                .item_img{
                    width: inherit;
                    height: inherit;
                    img{
                        width: inherit;
                        height: inherit;
                    }

                }
                .item_title{
                    position: absolute;
                    bottom: 0;
                    width: inherit;
                    line-height: 2;
                    text-align: center;
                    color: #e8d2b8;
                    // font-weight: bold;
                    background-color: rgba(255, 255, 255, 0.1);
                    transition: all 0.6s;
                    &:hover{
                        background-color: #e8d2b8;
                        color: #393b3a;
                    }
                }
                &:hover{
                    transform: scale(1.1);
                }
            }
        }
    }
}