* {
  font-family: Poppins;
}
header .header_top {
  background: #0c5d69;
}
header .header_top ul.header_top_left {
  margin: 0;
  padding: 12px 0;
  line-height: 24px;
}
header .header_top ul.header_top_left li {
  font-size: 13px;
  color: #ffffff;
  list-style: none;
  display: inline-block;
  margin-right: 25px;
  font-weight: 400;
  line-height: 1.5;
}
header .header_top ul.header_top_left li i {
  font-size: 15px;
  margin-right: 5px;
}
header .header_top .header_top_right {
  text-align: right;
  padding: 12px 0;
}
header .header_top .header_top_right i {
  font-size: 16px;
  color: #ffffff;
  margin-right: 20px;
  font-weight: 400;
  line-height: 1.5;
}
header .header_top .header_top_right i:last-child {
  margin-right: 0;
}
header .container .row .header_logo {
  padding: 42px 0;
}
header .container .row .header_nav {
  padding: 30px 0;
  text-align: right;
}
header .container .row .header_nav .header_menu {
  display: inline-block;
  margin-right: 45px;
}
header .container .row .header_nav .header_menu ul {
  margin: 0;
  padding: 0;
}
header .container .row .header_nav .header_menu ul li {
  margin: 0;
  list-style: none;
  display: inline-block;
  margin-right: 45px;
  font-size: 15px;
  color: #111111;
  font-weight: 500;
  padding: 4px 0;
  text-transform: uppercase;
}
header .container .row .header_nav .header_menu ul li:last-child {
  margin: 0;
}
header .container .row .header_nav .header_btn {
  display: inline-block;
}
header .container .row .header_nav .header_btn a {
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  padding: 12px 30px 10px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
}
.hero {
  padding-top: 145px;
  padding-bottom: 215px;
  background-image: url('img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}
.hero .hero_info span {
  font-size: 15px;
  font-weight: 500;
  color: #13a2b7;
  text-transform: uppercase;
  display: block;
}
.hero .hero_info h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  color: #111111;
  font-weight: 700;
  line-height: 60px;
  margin-top: 10px;
  margin-bottom: 35px;
}
.hero .hero_info a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 30px 10px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
  background: #13a2b7;
  color: #ffffff;
  font-weight: 600;
}
.consultation .col-lg-4 .consultation_form {
  padding: 50px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  margin-top: -70px;
  background: #ffffff;
}
.consultation .col-lg-4 .consultation_form .section_title {
  margin-bottom: 35px;
}
.consultation .col-lg-4 .consultation_form .section_title span {
  line-height: 1.5;
  font-size: 15px;
  color: #888888;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
}
.consultation .col-lg-4 .consultation_form .section_title h2 {
  line-height: 1.2;
  margin: 0;
  font-size: 36px;
  color: #111111;
  font-weight: 700;
  margin-top: 8px;
}
.consultation .col-lg-4 .consultation_form form input {
  font-size: 15px;
  color: #666666;
  width: 100%;
  height: 50px;
  padding-left: 20px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  margin-bottom: 20px;
}
.consultation .col-lg-4 .consultation_form form .form_date {
  position: relative;
}
.consultation .col-lg-4 .consultation_form form .form_date i {
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 15px;
  color: #666666;
}
.consultation .col-lg-4 .consultation_form form button {
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  background: #13a2b7;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 30px 12px;
}
.consultation .col-lg-8 .consultation_info {
  padding: 100px 0;
  position: relative;
}
.consultation .col-lg-8 .consultation_info::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  content: "";
}
.consultation .col-lg-8 .consultation_info .consultation_text .section_title {
  margin-bottom: 15px;
}
.consultation .col-lg-8 .consultation_info .consultation_text .section_title span {
  font-size: 15px;
  color: #888888;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.5;
}
.consultation .col-lg-8 .consultation_info .consultation_text .section_title h2 {
  margin: 0;
  line-height: 47px;
  color: #111111;
  font-weight: 700;
  margin-top: 8px;
  font-size: 36px;
}
.consultation .col-lg-8 .consultation_info .consultation_text .section_title h2 b {
  font-weight: 700;
  color: #13a2b7;
}
.consultation .col-lg-8 .consultation_info .consultation_text p {
  color: #444444;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
.consultation .col-lg-8 .consultation_info .consultation_video {
  background-image: url('img/consultation-video.jpg');
  background-size: cover;
  background-position: center;
  height: 262px;
  display: flex;
}
.consultation .col-lg-8 .consultation_info .consultation_video a {
  margin: auto;
  display: inline-block;
  height: 50px;
  width: 50px;
  background: #13a2b7;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}
.offer {
  padding-top: 100px;
  padding-bottom: 50px;
}
.offer .container .row h2 {
  text-align: center;
  margin-bottom: 45px;
}
.offer .container .row h2 small {
  color: #888888;
  font-size: 15px;
}
.offer .container .row h2 div {
  margin-top: 8px;
  font-size: 36px;
  font-weight: bold;
}
.offer .container .row .item {
  text-align: center;
}
.offer .container .row .item h5 {
  font-size: 20px;
  color: #111111;
  margin-top: 26px;
  margin-bottom: 16px;
  font-weight: 600;
}
.offer .container .row .item p {
  font-size: 15px;
  color: #666666;
  font-weight: 400;
}
.services {
  background-image: url('img/services-bg.jpg');
  background-position: center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 70px;
}
.services .container .row .left h2 {
  margin: 0;
  margin-bottom: 45px;
}
.services .container .row .left h2 small {
  font-size: 15px;
  color: #13a2b7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.services .container .row .left h2 div {
  color: #ffffff;
  font-size: 36px;
  font-weight: 800;
  margin-top: 8px;
}
.services .container .row .btn {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
}
.services .container .row .right {
  text-align: right;
}
.services .container .row .col-xs-12 {
  margin: 15px 0;
}
.services .container .row .col-xs-12 .media {
  background-color: white;
  padding: 45px 30px 45px 50px;
  border-radius: 10px;
  transition: all 0.3s;
}
.services .container .row .col-xs-12 .media:hover {
  background-color: #13a2b7;
}
.services .container .row .col-xs-12 .media:hover .media-body h4,
.services .container .row .col-xs-12 .media:hover .media-body p {
  color: white;
}
.services .container .row .col-xs-12 .media a {
  color: #13a2b7;
}
.services .container .row .col-xs-12 .media a img {
  margin-right: 40px;
  width: 70px;
  height: 70px;
}
.services .container .row .col-xs-12 .media-body h4 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 14px;
  transition: all 0.3s;
}
.services .container .row .col-xs-12 .media-body p {
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  line-height: 25px;
  margin: 0;
  transition: all 0.3s;
}
.team {
  padding-bottom: 70px;
  padding-top: 100px;
}
.team h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 45px;
}
.team h2 small {
  font-size: 15px;
  color: #888888;
  font-weight: 500;
  letter-spacing: 2px;
}
.team h2 div {
  font-size: 36px;
  color: #111111;
  font-weight: 700;
  margin-top: 8px;
}
.team .team-card {
  text-align: center;
  margin-bottom: 30px;
}
.team .team-card:hover img {
  border: 10px solid #13a2b7;
}
.team .team-card img {
  border-radius: 50%;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border: 10px solid #ffffff;
  margin-bottom: 32px;
  transition: all 0.5s;
}
.team .team-card h5 {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 5px;
}
.team .team-card span {
  font-size: 15px;
  color: #13a2b7;
  display: block;
  margin-bottom: 12px;
}
.team .team-card i {
  font-size: 15px;
  color: #666666;
  display: inline-block;
  margin-right: 20px;
}
.picture .container-fluid {
  padding: 0;
}
.picture .container-fluid .row {
  margin: 0;
}
.picture .container-fluid .row .col-sm-8 {
  padding: 0;
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(1) .col-sm-4:nth-child(1) .picBox {
  background-image: url(img/gallery-1.jpg);
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(1) .col-sm-4:nth-child(2) .picBox {
  background-image: url(img/gallery-2.jpg);
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(1) .col-sm-4:nth-child(3) .picBox {
  background-image: url(img/gallery-3.jpg);
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(2) .col-sm-4:nth-child(1) .picBox {
  background-image: url(img/gallery-5.jpg);
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(2) .col-sm-4:nth-child(2) .picBox {
  background-image: url(img/gallery-6.jpg);
}
.picture .container-fluid .row .col-sm-8 .row:nth-child(2) .col-sm-4:nth-child(3) .picBox {
  background-image: url(img/gallery-7.jpg);
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 {
  padding: 0;
  margin-bottom: 20px;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox {
  height: 338px;
  margin-right: 20px;
  position: relative;
  background-size: cover;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox .mask {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #13a1b788;
  opacity: 0;
  transition: 0.5s;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox .mask i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  display: none;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox:hover {
  background-color: #13a2b7;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox:hover .mask {
  opacity: 1;
}
.picture .container-fluid .row .col-sm-8 .row .col-sm-4 .picBox:hover .mask i {
  display: block;
}
.picture .container-fluid .row .col-sm-4 {
  padding: 0;
}
.picture .container-fluid .row .col-sm-4 .picBox {
  height: 696px;
  background-image: url(img/gallery-4.jpg);
  background-size: cover;
  position: relative;
}
.picture .container-fluid .row .col-sm-4 .picBox .mask {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #13a1b788;
  opacity: 0;
  transition: 0.5s;
}
.picture .container-fluid .row .col-sm-4 .picBox .mask i {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  display: none;
}
.picture .container-fluid .row .col-sm-4 .picBox:hover {
  background-color: #13a2b7;
}
.picture .container-fluid .row .col-sm-4 .picBox:hover .mask {
  opacity: 1;
}
.picture .container-fluid .row .col-sm-4 .picBox:hover .mask i {
  display: block;
}
.news {
  padding-top: 80px;
  padding-bottom: 70px;
}
.news .left h2 {
  margin: 0;
  margin-bottom: 45px;
}
.news .left h2 small {
  font-size: 15px;
  color: #13a2b7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.news .left h2 div {
  color: #111111;
  font-size: 36px;
  font-weight: 800;
  margin-top: 8px;
}
.news .btn {
  font-size: 15px;
  color: #111111;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid #13a2b7;
  border-radius: 5px;
  font-weight: 500;
  background-color: transparent;
}
.news .right {
  text-align: right;
}
.news .news-card {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 30px;
}
.news .news-card h5 {
  margin: 0;
  font-size: 18px;
  margin-bottom: 10px;
  color: #111111;
  font-weight: 600;
  line-height: 24px;
}
.news .news-card p {
  font-size: 15px;
  color: #666666;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 25px;
}
.news .news-card ul {
  margin: 0;
  padding: 0;
}
.news .news-card ul li {
  display: inline-block;
  font-size: 13px;
  color: #888888;
  font-weight: 300;
}
.news .news-card ul li img {
  border-radius: 50%;
  margin-right: 5px;
}
.news .news-card ul li:nth-child(2) {
  margin-right: 22px;
  position: relative;
}
.news .news-card ul li:nth-child(2)::after {
  position: absolute;
  right: -14.5px;
  top: 7px;
  height: 5px;
  width: 5px;
  background: #888888;
  border-radius: 50%;
  content: "";
}
@media screen and (max-width: 1200px) {
  body footer .footer_copyright .container .row .col-lg-5 ul {
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  body footer .footer_top .container .row .col-sm-4,
  body footer .footer_top .container .row .col-sm-8 {
    margin-bottom: 30px;
  }
  body footer .footer_top .container .row .col-sm-12 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  body footer .footer_top .container .row .col-sm-4 {
    display: flex;
  }
  body footer .footer_top .container .row .col-sm-4 img {
    margin: auto;
  }
}
footer {
  background-color: #212529;
  padding-top: 40px;
}
footer .footer_top {
  padding-bottom: 40px;
  margin-bottom: 65px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.233);
}
footer .footer_top .container .row .col-sm-4 {
  line-height: 50px;
}
footer .footer_top .container .row .col-sm-8 .footer_search {
  position: relative;
}
footer .footer_top .container .row .col-sm-8 .footer_search input {
  width: 100%;
  height: 50px;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #13a2b7;
  padding-left: 20px;
  background: transparent;
}
footer .footer_top .container .row .col-sm-8 .footer_search input::placeholder {
  color: #ffffff;
}
footer .footer_top .container .row .col-sm-8 .footer_search button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-radius: 0 50px 50px 0;
  text-transform: uppercase;
  font-size: 15px;
  color: #ffffff;
  background: #13a2b7;
  font-weight: 600;
  border: none;
  letter-spacing: 2px;
  padding: 14px 30px 12px;
}
footer .footer_top .container .row .col-sm-12 {
  text-align: right;
}
footer .footer_top .container .row .col-sm-12 .footer_icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 18px;
  line-height: 50px;
}
footer .footer_top .container .row .col-sm-12 .footer_icon i {
  color: white;
}
footer .container .row h5,
footer .container .row ul,
footer .container .row li {
  margin: 0;
  padding: 0;
}
footer .container .row h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
footer .container .row ul,
footer .container .row li {
  list-style: none;
}
footer .container .row ul {
  margin-bottom: 30px;
}
footer .container .row li {
  line-height: 30px;
  font-size: 14px;
  color: #c4c4c4;
  font-weight: 300;
}
footer .container .row .footer_address ul li {
  margin-bottom: 38px;
  line-height: 21px;
}
footer .container .row .footer_address ul li i {
  font-size: 18px;
  color: #13a2b7;
  margin-right: 15px;
}
footer .footer_copyright {
  background: #12191a;
  padding: 25px 0 20px;
  margin-top: 30px;
}
footer .footer_copyright .container .row .copyright_info p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #c4c4c4;
  font-weight: 300;
  line-height: 25px;
  margin: 0 0 15px 0;
  text-align: center;
}
footer .footer_copyright .container .row .copyright_info p i {
  color: #13a2b7;
}
footer .footer_copyright .container .row .copyright_info p a {
  color: #13a2b7;
  background-color: transparent;
}
footer .footer_copyright .container .row .col-lg-5 ul {
  text-align: right;
}
footer .footer_copyright .container .row .col-lg-5 ul li {
  list-style: none;
  display: inline-block;
  font-size: 14px;
  color: #c4c4c4;
  margin-right: 25px;
  font-weight: 300;
  position: relative;
  line-height: 21px;
}
footer .footer_copyright .container .row .col-lg-5 ul li::after {
  position: absolute;
  right: -18px;
  top: 9px;
  height: 4px;
  width: 4px;
  background: #c4c4c4;
  content: "";
  border-radius: 50%;
}
footer .footer_copyright .container .row .col-lg-5 ul li:last-child::after {
  content: none;
}
/*# sourceMappingURL=./整形-bs3.css.map */