* {
  font-family: "Poppins";
}
.wrapper {
  width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear::after {
  content: "";
  display: block;
  clear: both;
}
body header .top {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  height: 60px;
  z-index: 999;
  border-bottom: 2px solid #ffffff11;
}
body header .top .wrapper {
  padding: 8px 15px;
}
body header .top .wrapper .logo {
  font-size: 32px;
  font-weight: 800;
  line-height: 48px;
}
body header .top .wrapper .logo span {
  font-weight: 300;
}
body header .top .wrapper .top-right ul.nav {
  margin-right: 200px;
}
body header .top .wrapper .top-right ul.nav li {
  float: left;
  padding: 0 12px;
  line-height: 48px;
  transition: all 0.5s;
}
body header .top .wrapper .top-right ul.nav li:first-child {
  color: #f54748;
}
body header .top .wrapper .top-right ul.nav li:hover {
  color: #f54748;
}
body header .top .wrapper .top-right .search-area .search {
  display: inline-block;
  font-size: 0;
  line-height: 48px;
}
body header .top .wrapper .top-right .search-area .search input {
  padding: 8px 15px;
  border-radius: 18px 0 0 18px;
  outline-color: #ffffff;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  vertical-align: middle;
}
body header .top .wrapper .top-right .search-area .search i {
  background-color: #f54748;
  color: white;
  font-size: 14px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 0 18px 18px 0;
  text-align: center;
  vertical-align: middle;
}
body header .top .wrapper .top-right .search-area .light {
  margin-left: 15px;
  width: 36px;
  height: 36px;
  line-height: 48px;
}
body header .top .wrapper .top-right .search-area .light i {
  color: white;
  font-size: 20px;
}
body .banner {
  background-image: url(../img/b3.jpg);
  width: 100%;
  height: 800px;
  z-index: 0;
  position: relative;
  background-size: cover;
}
body .banner .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
body .banner .mask .wrapper .card {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 15px;
  height: 200px;
  margin: auto;
  text-transform: uppercase;
}
body .banner .mask .wrapper .card p {
  font-size: 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-bottom: 8px;
  padding: 6px 30px;
  display: inline-block;
  font-weight: bold;
}
body .banner .mask .wrapper .card h1 {
  margin-bottom: 18px;
  font-size: 65px;
  font-weight: 700;
  color: #ffffff;
}
body .banner .mask .wrapper .card h1 span {
  font-weight: 300;
}
body .banner .mask .wrapper .card .btn {
  margin-top: 30px;
  padding: 14px 42px;
  background-color: #f54748;
  display: inline-block;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
}
body .offering {
  padding: 48px 0;
}
body .offering .wrapper {
  padding: 48px 0;
}
body .offering .wrapper .title {
  margin-bottom: 48px;
  font-size: 44px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  padding: 0 15px;
}
body .offering .wrapper .title span {
  font-weight: 100;
}
body .offering .wrapper .content .card {
  width: 25%;
}
body .offering .wrapper .content .card .info {
  margin: 0 15px;
  position: relative;
}
body .offering .wrapper .content .card .info img {
  border-radius: 8px;
  vertical-align: bottom;
}
body .offering .wrapper .content .card .info .icon {
  box-sizing: border-box;
  padding: 10px;
  width: 34px;
  height: 36px;
  background-color: #f54748;
  color: #ffffff;
  border-radius: 0 0 0 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s;
}
body .offering .wrapper .content .card .info .mask {
  background-color: #f54747cd;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.5s;
}
body .offering .wrapper .content .card .info .mask .text {
  position: absolute;
  padding: 30px;
  top: 90.5px;
  left: 0;
}
body .offering .wrapper .content .card .info .mask .text h4 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 18px;
  line-height: 28px;
  color: #ffffff;
}
body .offering .wrapper .content .card .info .mask .text p {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
}
body .offering .wrapper .content .card .info:hover .mask {
  transform: scale(1);
}
body .offering .wrapper .content .card .info:hover .icon {
  opacity: 0;
}
body .offering .wrapper .btn {
  padding-top: 24px;
  margin-top: 48px;
  text-align: center;
}
body .offering .wrapper .btn a {
  padding: 14px 42px;
  background-color: #f54748;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  transition: all 1.8s;
}
body .offering .wrapper .btn a:hover {
  background-color: #f48924;
}
body .clients {
  padding: 48px 0;
  background-color: #fafafb;
}
body .clients .wrapper {
  padding: 48px 15px;
}
body .clients .wrapper .title {
  margin-bottom: 48px;
  font-size: 44px;
  font-weight: bold;
  text-align: center;
}
body .clients .wrapper .title span {
  font-weight: 100;
}
body .clients .wrapper ul.content li {
  float: left;
  width: 33.33%;
}
body .clients .wrapper ul.content li .box {
  padding: 0 12px;
}
body .clients .wrapper ul.content li .box .card {
  background-color: #ffffff;
  padding: 40px 30px;
  position: relative;
}
body .clients .wrapper ul.content li .box .card .icon i {
  font-size: 30px;
  color: #f54748;
}
body .clients .wrapper ul.content li .box .card .number {
  font-size: 60px;
  position: absolute;
  top: 30px;
  right: 40px;
  line-height: 60px;
  opacity: 0.1;
  transition: 0.3s;
}
body .clients .wrapper ul.content li .box .card h4 {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.8s;
  cursor: pointer;
}
body .clients .wrapper ul.content li .box .card h4:hover {
  color: #f54748;
}
body .clients .wrapper ul.content li .box .card p {
  font-size: 16px;
  color: #363636;
  font-weight: 100;
}
body .clients .wrapper ul.content li .box .card a {
  margin-top: 20px;
  text-decoration: none;
  color: #060606;
  border-bottom: 2px solid #f54748;
  display: inline-block;
  font-weight: 600;
}
body .clients .wrapper ul.content li .box .card:hover .number {
  opacity: 0.3;
}
body .about {
  padding: 48px 0;
}
body .about .wrapper {
  padding: 48px 15px;
}
body .about .wrapper .info {
  width: 50%;
  padding-left: 12px;
  padding-right: 48px;
  box-sizing: border-box;
}
body .about .wrapper .info h3 {
  font-size: 44px;
  font-weight: bold;
  line-height: 50px;
}
body .about .wrapper .info h3 span {
  font-weight: 100;
}
body .about .wrapper .info p {
  margin-top: 24px;
  font-size: 16px;
  color: #363636;
}
body .about .wrapper .info .btn a {
  display: inline-block;
  margin-top: 24px;
  padding: 14px 42px;
  border-radius: 30px;
  background-color: #f54748;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: all 1.8s;
}
body .about .wrapper .info .btn a:hover {
  background-color: #f48924;
}
body .about .wrapper .picture {
  width: 50%;
  position: relative;
  font-size: 0;
  padding: 24px 12px 0 12px;
  box-sizing: border-box;
}
body .about .wrapper .picture .icon i {
  position: absolute;
  left: calc(50% - 40px);
  top: calc(50% - 40px);
  font-size: 16px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  color: #f54748;
}
body .about .wrapper .picture::after {
  content: "";
  position: absolute;
  border: 8px solid #eeeeee;
  right: -13px;
  left: 25px;
  bottom: 25px;
  top: -1px;
  z-index: -1;
}
body .design {
  background-image: url(../img/bg1.jpg);
  background-size: cover;
  background-position: center top;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 370px;
}
body .design .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
body .design .mask .wrapper {
  padding: 48px 15px;
  margin: 48px auto;
}
body .design .mask .wrapper .content .box-left {
  width: 60%;
}
body .design .mask .wrapper .content .box-left .info {
  padding: 0 12px;
}
body .design .mask .wrapper .content .box-left .info h3 {
  font-size: 44px;
  font-weight: bold;
  line-height: 50px;
  color: #ffffff;
}
body .design .mask .wrapper .content .box-left .info h3 span {
  font-weight: 100;
}
body .design .mask .wrapper .content .box-left .info p {
  font-size: 16px;
  color: #ffffff;
  margin-top: 24px;
}
body .design .mask .wrapper .content .box-right {
  width: 40%;
  height: 122px;
}
body .design .mask .wrapper .content .box-right .btn {
  padding: 0 12px;
  text-align: right;
  padding: 35px 0;
}
body .design .mask .wrapper .content .box-right .btn a {
  color: #ffffff;
  background-color: #f54748;
  padding: 14px 42px;
  border-radius: 30px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  transition: all 1.8s;
}
body .design .mask .wrapper .content .box-right .btn a:hover {
  background-color: #f48924;
}
body .works .content {
  width: 50%;
  padding: 96px;
  box-sizing: border-box;
  position: relative;
}
body .works .content .info h3 {
  font-size: 44px;
  font-weight: bold;
}
body .works .content .info h3 span {
  font-weight: 100;
}
body .works .content .info p {
  margin: 16px 0;
  font-size: 16px;
}
body .works .content .info .btn a {
  margin-top: 24px;
  text-decoration: none;
  padding: 14px 42px;
  color: #ffffff;
  background-color: #f54748;
  display: inline-block;
  border-radius: 30px;
}
body .works .content .picture {
  width: 100%;
  height: 100%;
  background-image: url(../img/bg2.jpg);
  background-size: cover;
  position: absolute;
  left: 100%;
  top: 0;
}
body .works .item {
  position: relative;
}
body .works .item .card-A {
  width: 25%;
  height: 100%;
  background-image: url(../img/bg3.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
}
body .works .item .info-A {
  width: 25%;
  background-color: #eeeeee;
  position: relative;
  left: 25%;
  top: 0;
}
body .works .item .info-A .box {
  padding: 124px 48px;
  text-align: center;
}
body .works .item .info-A .box i {
  font-size: 36px;
  color: #f54748;
  margin-bottom: 24px;
}
body .works .item .info-A .box h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
body .works .item .info-A .box p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
}
body .works .item .card-B {
  width: 25%;
  height: 100%;
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: 0;
}
body .works .item .info-B {
  width: 25%;
  background-color: #eeeeee;
  position: absolute;
  left: 75%;
  top: 0;
}
body .works .item .info-B .box {
  padding: 124px 48px;
  text-align: center;
}
body .works .item .info-B .box i {
  font-size: 36px;
  color: #f54748;
  margin-bottom: 24px;
}
body .works .item .info-B .box h4 {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}
body .works .item .info-B .box p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 25px;
}
body .blog .wrapper {
  padding: 48px 15px;
}
body .blog .wrapper .title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 48px;
}
body .blog .wrapper .title span {
  font-weight: 100;
}
body .blog .wrapper .box {
  width: 33.33%;
  float: left;
}
body .blog .wrapper .box .card {
  padding: 0 15px;
  font-size: 0;
  box-shadow: 0px 9px 24px 5px rgba(0, 0, 0, 0.04);
}
body .blog .wrapper .box .card .content .box-top {
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}
body .blog .wrapper .box .card .content .box-top img {
  transition: all 0.5s;
}
body .blog .wrapper .box .card .content .box-top .mask {
  background-color: #f54747c4;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  border-radius: 8px 8px 0 0;
  transform: scale(0);
  transition: all 0.5s;
}
body .blog .wrapper .box .card .content .box-top .icon i {
  position: absolute;
  top: 104.995px;
  left: calc(50% - 11.79px);
  font-size: 30px;
  color: #ffffff;
  transform: scale(0);
  transition: all 0.5s;
}
body .blog .wrapper .box .card .content .info {
  padding: 30px 25px;
  border-radius: 0 0 8px 8px;
}
body .blog .wrapper .box .card .content .info .time {
  display: flex;
  justify-content: space-between;
}
body .blog .wrapper .box .card .content .info .time i {
  color: #f54748;
  font-size: 16px;
}
body .blog .wrapper .box .card .content .info .time i span {
  color: #363636;
  margin-left: 5px;
  transition: all 0.5s;
  font-weight: 500;
}
body .blog .wrapper .box .card .content .info .time i span:hover {
  color: #f54748;
}
body .blog .wrapper .box .card .content .info h4 {
  margin-top: 15px;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.5s;
}
body .blog .wrapper .box .card .content .info h4:hover {
  color: #f54748;
}
body .blog .wrapper .box .card .content .info p {
  font-size: 14px;
  margin-top: 16px;
  color: #363636;
  line-height: 28px;
}
body .blog .wrapper .box .card .content .info a {
  font-size: 17px;
  margin-top: 20px;
  font-weight: bold;
  border-bottom: 2px solid #f54748;
  text-decoration: none;
  color: #060606;
  display: inline-block;
}
body .blog .wrapper .box .card:hover .content .box-top img {
  transform: scale(1.2);
}
body .blog .wrapper .box .card:hover .content .box-top .mask {
  transform: scale(1);
}
body .blog .wrapper .box .card:hover .content .box-top .icon i {
  transform: scale(1);
}
body footer {
  padding: 48px 0;
  background-image: url(../img/footer.jpg);
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 100%;
  position: relative;
  color: #ffffffbf;
}
body footer .mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.681);
  z-index: -1;
}
body footer .wrapper {
  padding: 48px 15px 8px;
}
body footer .wrapper .row {
  display: flex;
  justify-content: space-between;
}
body footer .wrapper .row .card-info {
  width: 33.33%;
  padding: 0 12px;
}
body footer .wrapper .row .card-info h3 {
  font-size: 32px;
  font-weight: 800;
  color: #ffffff;
}
body footer .wrapper .row .card-info h3 span {
  font-weight: 300;
}
body footer .wrapper .row .card-info p {
  margin-top: 16px;
  font-size: 16px;
}
body footer .wrapper .row .card-info ul {
  margin-top: 24px;
  display: flex;
}
body footer .wrapper .row .card-info ul li {
  margin-right: 24px;
}
body footer .wrapper .row h4 {
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 25px;
  color: #ffffff;
}
body footer .wrapper .row .card-list {
  display: flex;
  padding: 0 12px;
}
body footer .wrapper .row .card-list .card-link {
  width: 50%;
  padding: 0 12px;
}
body footer .wrapper .row .card-list .card-link ul li {
  margin: 10px 0;
}
body footer .wrapper .row .card-list .card-domain {
  width: 50%;
}
body footer .wrapper .row .card-list .card-domain ul li {
  margin-bottom: 10px;
}
body footer .wrapper .row .card-time {
  width: 25%;
  padding: 0 12px;
}
body footer .wrapper .row .card-time ul li {
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
body footer .wrapper .copy-right {
  text-align: center;
  padding-top: 24px;
  margin-top: 48px;
  border-top: 1px solid #ffffff61;
}
/*# sourceMappingURL=./dress-up.css.map */